<div class="container">
    <div class="upperSection">
        <p>Upper section</p>
        <input style="display: none"
               type="file" 
               (change)="onFileSelected($event)"
               #fileInput>
        <button type="button" (click)="fileInput.click()">Choose a file</button>
        <button type="button" (click)="onUpload()">Upload File</button>
    </div>
    <div class="lowerSection">
        ----------------------
        <p>Lower section</p>
        <div class="tasks" *ngIf="clicked">
            <app-task-manager></app-task-manager>
        </div>
        ----------------------
    </div>
    <button type="button" (click)="onDownload()">Download</button>

</div>
