* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: linear-gradient(177.9deg,rgb(55, 62, 88) 3.6%, rgb(119,127,148) 105.8%);
}

.choose {
    float: left;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20%;
    border-radius: 10px;
    border: none;
    color: black;
    background-color:rgb(155, 155, 187);
}

.upload{
    float: right;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-right: 20%;
    border-radius: 10px;
    border: none;
    color: black;
    background-color:rgb(155, 155, 187);
}

.lowerSection {
    margin-top: 40px;
    padding: 20px;
}

.download {
    margin-left: 40%;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-right: 20%;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    color: black;
    background-color:rgb(155, 155, 187);
}